<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <record id="drip_marketing_tool_action" model="ir.actions.act_window">
        <field name="name">Mail Chains</field>
        <field name="res_model">mailing.mailing</field>
        <field name="view_mode">list,kanban,form,activity</field>
        <field name="groups_id" eval="[(4,ref('base.group_user'))]"/>
        <field name="domain">[('state', 'not in', ['done', 'sending']), ('added_to_chain', '=', False)]</field>
        <field name="search_view_id" ref="mass_mailing.view_mail_mass_mailing_search"/>
    </record>

    <menuitem
            id="drip_marketing_tool_menu_root"
            name="Mail Chains"
            groups="base.group_user"

            action="drip_marketing_tool_action"
            sequence="10"
    />
</odoo>
