<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Drip Marketing Tool menu item under Email Marketing module -->
    <menuitem id="drip_marketing_tool_menu"
              name="Drip Marketing Tool"
              action="drip_marketing_chain_view_form"
              parent="mass_mailing.mass_mailing_menu"
              sequence="10"/>
</odoo>
